.body{
    position: relative;
    height:100vh;
}
.aside-content{
    position: fixed;
    width:230px;
    height:100%;
    background: #222d32;
    color:white;
}
.page-container{
    width:100%;
    padding-left:230px;
}
.page-container .header{
    width: 100%;
    position: fixed;
    padding-right:230px;
}
.content-page {
    padding: 65px 10px 10px 10px;
}