.header{
    width:100%;
    min-height: 50px;
    border-bottom: 1px solid gray;
    background: #3c8dbc;
}
.content{
    width:100%;
    display: inline-block;
}
.content .row{
    margin: 0px !important;
}
.content .col-sm-3{
    padding-top:10px;
}
.content .col-sm-3 img{
    float: right;
    margin-right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
}