<div class="body-menu">
  <div class="logo">
    <img src="../.././assets/images/logo.png" alt="logo">
  </div>
  <div class="menu-content">
    <ul>
      <li><a routerLink="/page1" routerLinkActive="active">Page1</a></li>
      <li><a routerLink="/page2" routerLinkActive="active">Page2</a></li>
      <li><a routerLink="/page3" routerLinkActive="active">Page3</a></li>
      <li><a routerLink="/page4" routerLinkActive="active">Page4</a></li>
      <li><a routerLink="/page5" routerLinkActive="active">Page5</a></li>
    </ul>
  </div>
</div>
