<div class="body-menu">
  <div class="logo">
    <a routerLink="/app" routerLinkActive="active">
      <img src="../.././assets/images/logo.png" alt="logo">
    </a>
  </div>
  <div class="menu-content" menu-directive>
    <div class="menu-detail">
      <a routerLink="/app/home" routerLinkActive="active">
        <button class="accordion toggle">Home</button>
      </a>
    </div>
    <div class="menu-detail">
      <a routerLink="/app/form" routerLinkActive="active">
        <button class="accordion toggle">Form</button>
      </a>
    </div>
    <div class="menu-detail">
      <a routerLink="/app/presenter" routerLinkActive="active">
        <button class="accordion toggle">Presenter</button>
      </a>
    </div>
    <div class="menu-detail">
      <button class="accordion toggle">
        Pages
        <span id="spanleft" class="updown" style="display:block"><i class="fa fa-angle-left"></i></span>
        <span id="spandown" class="updown" style="display:none"><i class="fa fa-angle-down"></i></span>
      </button>

      <div class="panel">
        <ul>
          <li>
            <a routerLink="/app/page4/login" routerLinkActive="active">
              <button class="accordion toggle">Login</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/page4/register" routerLinkActive="active">
              <button class="accordion toggle">Register</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/page4/resetpass" routerLinkActive="active">
              <button class="accordion toggle">Reset Password</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/presenter" routerLinkActive="active">
              <button class="accordion toggle">Lock Screen</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/presenter" routerLinkActive="active">
              <button class="accordion toggle">Login</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/presenter" routerLinkActive="active">
              <button class="accordion toggle">Register</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/presenter" routerLinkActive="active">
              <button class="accordion toggle">Reset Password</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/presenter" routerLinkActive="active">
              <button class="accordion toggle">Lock Screen</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-detail">
      <button class="accordion toggle">
        Charts
        <span id="spanleft" class="updown" style="display:block"><i class="fa fa-angle-left"></i></span>
      </button>
      <div class="panel">
        <ul>
          <li>
            <a routerLink="/app/chart/bar" routerLinkActive="active">
              <button class="accordion toggle">Bar Chart</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/chart/line" routerLinkActive="active">
              <button class="accordion toggle">Line Chart</button>
            </a>
          </li>
          <li>
            <a routerLink="/app/presenter" routerLinkActive="active">
              <button class="accordion toggle">Pie Chart</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>